*-dist/
*.hprof
*.iml
*.tar.gz
*.xccheckout
*.xcscmblueprint
*.zip
.DS_Store
.build/
.classpath
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vscode/
Carthage/
Pods/
bin/
build/
gradlew.bat
xcuserdata
